body {
    box-sizing: border-box;
    margin: 0;
    background-color: #F7FAFF;
    .container {
        padding-top: 80px;
        height: 100vh;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 700;
    }
}
